#program-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#reviews-container {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.review {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.review strong {
    font-weight: bold;
}
